In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('Airbnb_Open_Data.csv')

C:\Users\nasir\AppData\Local\Temp\ipykernel_28016\1053151148.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('Airbnb_Open_Data.csv')

In [3]:
df1.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
df1.isnull()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
102595,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
102596,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,True,True
102597,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
102598,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,True,True

In [5]:
df1.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [6]:
df1.tail()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

most visited area/city
price variation
tourism factors across the states
[price/city/popularity/ratings/

can do price vs popularity correlation?
instant_bookable
'host_identity_verified does being verified affect bookings?
use 'neighbourhood'to find something out. moving forward we can use geoify to get more geo data. 
does higher prices equal higher ratings?
does higher prices 
min nights vs ratings
neighboorhood vs price [min nights in this neighbhoorhood affect price]

research question
 we hired by airbnb, 
 why are ppl spending their money in the way that they do?
 
 we analyze various airbnb factors to identify trends that impact customer /booking/

In [7]:
df1.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [8]:
df1['country'].unique()

array(['United States', nan], dtype=object)

In [9]:
df1['neighbourhood']

0                  Kensington
1                     Midtown
2                      Harlem
3                Clinton Hill
4                 East Harlem
                 ...
102594           Williamsburg
102595    Morningside Heights
102596             Park Slope
102597       Long Island City
102598        Upper West Side
Name: neighbourhood, Length: 102599, dtype: object

In [10]:
df1['neighbourhood group']

0          Brooklyn
1         Manhattan
2         Manhattan
3          Brooklyn
4         Manhattan
            ...
102594     Brooklyn
102595    Manhattan
102596     Brooklyn
102597       Queens
102598    Manhattan
Name: neighbourhood group, Length: 102599, dtype: object

In [11]:
df1['country code']

0         US
1         US
2         US
3         US
4         US
          ..
102594    US
102595    US
102596    US
102597    US
102598    US
Name: country code, Length: 102599, dtype: object

In [12]:
df1['last review'][1]

'5/21/2022'

In [13]:
r= df1['last review'][1:]
r

1          5/21/2022
2                NaN
3           7/5/2019
4         11/19/2018
5          6/22/2019
             ...
102594           NaN
102595      7/6/2015
102596           NaN
102597    10/11/2015
102598           NaN
Name: last review, Length: 102598, dtype: object

In [14]:
s=pd.Series(r)
s.str.split(pat = "/")

1          [5, 21, 2022]
2                    NaN
3           [7, 5, 2019]
4         [11, 19, 2018]
5          [6, 22, 2019]
               ...
102594               NaN
102595      [7, 6, 2015]
102596               NaN
102597    [10, 11, 2015]
102598               NaN
Name: last review, Length: 102598, dtype: object

In [15]:
s=pd.Series(r).str.split(pat = "/")
s[2]

nan

In [16]:
s

1          [5, 21, 2022]
2                    NaN
3           [7, 5, 2019]
4         [11, 19, 2018]
5          [6, 22, 2019]
               ...
102594               NaN
102595      [7, 6, 2015]
102596               NaN
102597    [10, 11, 2015]
102598               NaN
Name: last review, Length: 102598, dtype: object

In [17]:
s[1][2]

'2022'

In [18]:
s[1]

['5', '21', '2022']

In [19]:
s.dropna()
s

1          [5, 21, 2022]
2                    NaN
3           [7, 5, 2019]
4         [11, 19, 2018]
5          [6, 22, 2019]
               ...
102594               NaN
102595      [7, 6, 2015]
102596               NaN
102597    [10, 11, 2015]
102598               NaN
Name: last review, Length: 102598, dtype: object

In [20]:
df1[df1.columns[0:14]].head(2)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt

In [21]:
df1.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [22]:
df1[df1.columns[14:]].head(2)

,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN

In [23]:
df1[['price','NAME']]

          price                                              NAME
0         $966                 Clean & quiet apt home by the park
1         $142                              Skylit Midtown Castle
2         $620                THE VILLAGE OF HARLEM....NEW YORK !
3         $368                                                NaN
4         $204   Entire Apt: Spacious Studio/Loft by central park
...         ...                                               ...
102594    $844                         Spare room in Williamsburg
102595    $837                      Best Location near Columbia U
102596    $988                     Comfy, bright room in Brooklyn
102597    $546                   Big Studio-One Stop from Midtown
102598  $1,032                               585 sf Luxury Studio

[102599 rows x 2 columns]

In [24]:
df1.shape

(102599, 26)

In [25]:
df1.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [34]:
#df1.drop(['license','house_rules','country','host name','host id'],axis=1,inplace=True)
df_dropped=df1.drop(['license','house_rules','country','host name','host id', 'NAME', 'id', 'country code'],axis=1)

In [35]:
df1.shape,df_dropped.shape

((102599, 26), (102599, 18))

In [36]:
df_dropped.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0
2,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0

In [37]:
df_dropped.columns

Index(['host_identity_verified', 'neighbourhood group', 'neighbourhood', 'lat',
       'long', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365'],
      dtype='object')

In [38]:
df_dropped.set_index('neighbourhood group')
#setting index to neighbourhood group for EDA puprposes. 
#can now find corr between neighbourhood group vs others

,host_identity_verified,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
neighbourhood group,,,,,,,,,,,,,,,,,
Brooklyn,unconfirmed,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0
Manhattan,verified,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0
Manhattan,NaN,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0
Brooklyn,unconfirmed,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0
Manhattan,verified,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Brooklyn,verified,Williamsburg,40.70862,-73.94651,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0
Manhattan,unconfirmed,Morningside Heights,40.80460,-73.96545,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0
Brooklyn,unconfirmed,Park Slope,40.67505,-73.98045,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0
Queens,unconfirmed,Long Island City,40.74989,-73.93777,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0
Manhattan,unconfirmed,Upper West Side,40.76807,-73.98342,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0
2,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0

In [43]:
df_dropped['last review'].isnull()

0         False
1         False
2          True
3         False
4         False
          ...
102594     True
102595    False
102596     True
102597    False
102598     True
Name: last review, Length: 102599, dtype: bool

In [44]:
import matplotlib.pyplot as plt
import numpy as np

In [48]:
import seaborn as sns

In [50]:
df_dropped['last review'].dtype

dtype('O')

In [53]:
t= df_dropped['last review'].isnull()
t

0         False
1         False
2          True
3         False
4         False
          ...
102594     True
102595    False
102596     True
102597    False
102598     True
Name: last review, Length: 102599, dtype: bool

In [55]:
sum(bool(x) for x in t)

15893

In [58]:
def count(t):
    c=0
    for i in t:
        if(i==True):
            c+=1
    return c

print(count(t))

15893

so there are 15,893 nan values in the last review col. that only accounts for 15% of the data we have. We can safely drop these nan values and not have it affect our findings.

In [59]:
df_dropped['last review']

0         10/19/2021
1          5/21/2022
2                NaN
3           7/5/2019
4         11/19/2018
             ...
102594           NaN
102595      7/6/2015
102596           NaN
102597    10/11/2015
102598           NaN
Name: last review, Length: 102599, dtype: object

In [63]:
df_dropped['last review'].dropna()

0         10/19/2021
1          5/21/2022
3           7/5/2019
4         11/19/2018
5          6/22/2019
             ...
102588     6/29/2019
102591      1/4/2019
102593      9/6/2015
102595      7/6/2015
102597    10/11/2015
Name: last review, Length: 86706, dtype: object

In [68]:
df_dropped[['Month', 'Day', 'Last Review Year']] = df_dropped['last review'].str.extract(r'(\d+)/(\d+)/(\d+)')

In [69]:
df_dropped.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,...,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,Month,Day,Year,Last Review Year
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,...,9.0,10/19/2021,0.21,4.0,6.0,286.0,10,19,2021,2021
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,...,45.0,5/21/2022,0.38,4.0,2.0,228.0,5,21,2022,2022
2,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,...,0.0,NaN,NaN,5.0,1.0,352.0,NaN,NaN,NaN,NaN
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,...,270.0,7/5/2019,4.64,4.0,1.0,322.0,7,5,2019,2019
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,...,9.0,11/19/2018,0.10,3.0,1.0,289.0,11,19,2018,2018

In [70]:
df_dropped2=df_dropped.drop(['Month', 'Day', 'Year'], axis=1)

In [71]:
df_dropped2.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,Last Review Year
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,2021
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,2022
2,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,NaN
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,2019
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,2018

In [72]:
df_dropped2.columns

Index(['host_identity_verified', 'neighbourhood group', 'neighbourhood', 'lat',
       'long', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'Last Review Year'],
      dtype='object')

In [84]:
df_dropped3 = df_dropped2.dropna()
df_dropped3.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,Last Review Year
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,2021
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,2022
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,2019
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,2018
5,verified,Manhattan,Murray Hill,40.74767,-73.97500,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,2019

In [88]:
df_dropped3[['room type', 'cancellation_policy', 'instant_bookable']]

              room type cancellation_policy instant_bookable
0          Private room              strict            False
1       Entire home/apt            moderate            False
3       Entire home/apt            moderate             True
4       Entire home/apt            moderate            False
5       Entire home/apt            flexible             True
...                 ...                 ...              ...
102588  Entire home/apt            flexible             True
102591  Entire home/apt              strict            False
102593     Private room              strict             True
102595     Private room            moderate             True
102597  Entire home/apt              strict             True

[84798 rows x 3 columns]

In [86]:
df_dropped3['instant_bookable'].dtype

dtype('O')

In [89]:
df_dropped3['cancellation_policy'].dtype

dtype('O')

In [90]:
df3= pd.get_dummies(df_dropped3, columns=['room type', 'cancellation_policy', 'instant_bookable'])
#trying to figure out how to change categorical data into numerical data for EDA

In [91]:
df3.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,Construction year,price,service fee,minimum nights,number of reviews,...,Last Review Year,room type_Entire home/apt,room type_Hotel room,room type_Private room,room type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,instant_bookable_False,instant_bookable_True
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,2020.0,$966,$193,10.0,9.0,...,2021,0,0,1,0,0,0,1,1,0
1,verified,Manhattan,Midtown,40.75362,-73.98377,2007.0,$142,$28,30.0,45.0,...,2022,1,0,0,0,0,1,0,1,0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,2005.0,$368,$74,30.0,270.0,...,2019,1,0,0,0,0,1,0,0,1
4,verified,Manhattan,East Harlem,40.79851,-73.94399,2009.0,$204,$41,10.0,9.0,...,2018,1,0,0,0,0,1,0,1,0
5,verified,Manhattan,Murray Hill,40.74767,-73.97500,2013.0,$577,$115,3.0,74.0,...,2019,1,0,0,0,1,0,0,0,1

the above is  one hot encoding method. It takes the values in each col [room type, cancellation policy, and instant bookable] and turns it into a column.
The new column has a one if in the original dataframe, there was a value of that specifc category in the column.
to break it down further: room type had values entire home/apt, hotel room, private room, and shared room. With one hot encoding it takes the room column, splits it into four columns of zeros and ones. The four new columns are named after the
values in room type. The new columns have a one if that value was in the room type column originally. 
Purpose: so we can see if there is any correlation between the different room types/cancellation policy/insta bookable and bookings

In [92]:
df3.shape

(84798, 25)

In [93]:
df3.rename(columns={'room type_Entire home/apt': 'Entire Home', 'room type_Private room': 'Private Room', 'room type_Shared room': 'Shared Room'}, inplace=True)
df3.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,Construction year,price,service fee,minimum nights,number of reviews,...,Last Review Year,Entire Home,room type_Hotel room,Private Room,Shared Room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,instant_bookable_False,instant_bookable_True
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,2020.0,$966,$193,10.0,9.0,...,2021,0,0,1,0,0,0,1,1,0
1,verified,Manhattan,Midtown,40.75362,-73.98377,2007.0,$142,$28,30.0,45.0,...,2022,1,0,0,0,0,1,0,1,0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,2005.0,$368,$74,30.0,270.0,...,2019,1,0,0,0,0,1,0,0,1
4,verified,Manhattan,East Harlem,40.79851,-73.94399,2009.0,$204,$41,10.0,9.0,...,2018,1,0,0,0,0,1,0,1,0
5,verified,Manhattan,Murray Hill,40.74767,-73.97500,2013.0,$577,$115,3.0,74.0,...,2019,1,0,0,0,1,0,0,0,1